{% extends 'base.html' %}

{% block style %}
    <style>
      .image-thumbnail{
        height:200px;
        object-fit: cover;
        }

      .list-group-item a{
        text-decoration: none;
        color: black;
      }
    </style>
{% endblock style %}

{% block content %}
<div class="container m-5">
  <div class="row">
    <div class="col-md-3">

      <div class="card">
        <div class="card-header">
          Albums
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{% url 'gallery' %}">All</a>
          </li>
          {% for album in albums %}
            <li class="list-group-item">
              <a href="{% url 'gallery' %}?album={{album.name}}">
                {{ album.name }}
              </a>
            </li>
          {% endfor %}
          <a href="{% url 'add_photo' %}" class="btn btn-block btn-dark btn-sm m-1">Add Photo</a>
        </ul>
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">

      {% for photo in photos %}

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card my-1">
            <img src="{{ photo.image.url }}" class="image-thumbnail">
            <div class="card-body">
              <small>Album: {{ photo.album.name }} </small>
            </div>
            <a href="{{ photo.get_absolute_url }}" class="btn btn-outline-dark btn-sm m-1">View</a>
          </div>
        </div>

        {% empty %}
        <h3>No photos yet</h3>

      {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock content %}
