{% extends 'base.html' %}

{% block content %}
<div class="container">
      <div class="bg-light p-5 rounded mt-5">
        <h1>Welcome to the HB7 Photo Gallery!</h1>
        <p class="lead">You need to be logged in to view the gallery or upload new photos.</p>
        {% if user.is_authenticated %}
        <a class="btn btn-lg btn-primary" href="{% url 'gallery' %}" role="button">Go to Gallery</a>
        {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">Log In</a>
        {%  endif %}
      </div>
</div>

{% endblock content %}
